{% extends 'ProjectAppBundle::metronic.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Client Registration
        <small></small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('app_dashboard') }}">Dashboard</a>
        <i class="fa fa-angle-right"></i>
        <a href="javascript:;">List of clients</a>
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock %}

{% block body %}
    {% block content %}
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>Search/Filter clients </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {{
                    include('ProjectAppBundle:Client:_formSearchClient.html.twig',{
                        'action': path('api_client_list'),
                        'method': 'get'
                    })
                }}
                <!-- END FORM-->
            </div>
        </div>
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>List of clients </div>
                <div class="tools">
                    <a href="{{ path('app_client_new') }}" class="fa fa-user-plus"></a>
                    <a href="" id="listClient" class="expand"> </a>
                    <a href="{{ path('app_client_list') }}" class="reload"> </a>
                </div>
            </div>
            <div id="clientResult" class="portlet-body portlet-collapsed flip-scroll">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                        <tr>
                            <th> Name </th>
                            <th> Address </th>
                            <th> Active </th>
                            <th> Edit </th>
                            <th> Delete </th>
                        </tr>
                        </thead>
                        <tbody id="searchResult">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
{% block extrascripts %}
    <script src="{{ asset('scripts/controller/client/clientDelete.js') }}"></script>
    <script src="{{ asset('scripts/controller/client/clientSearch.js') }}"></script>
{% endblock extrascripts %}

