{% extends 'ProjectAppBundle::metronic.html.twig' %}

{% block page_title %}
    <h3 class="page-title"> Client Registration
        <small></small>
    </h3>
{% endblock %}

{% block page_breadcrumb %}
    <li>
        <i class="icon-home"></i>
        <a href="{{ path('app_dashboard') }}">Dashboard</a>
        <i class="fa fa-angle-right"></i>
        <a href="javascript:;">List of clients</a>
        <i class="fa fa-angle-right"></i>
    </li>
{% endblock %}

{% block body %}
    {% block content %}
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-search"></i>Search/Filter clients </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">By name:</label>
                            <div class="col-md-6">
                                <div class="input-icon">
                                    <input type="text" class="form-control" value="Client 1, Client 2, Client 3" data-role="tagsinput">
                                    <span class="help-block"> Names separated by "," or "Enter" </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle blue"><i class="icon-magnifier"></i> Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>List of clients </div>
                <div class="tools">
                    <a href="{{ path('app_client_new') }}" class="fa fa-user-plus"></a>
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="{{ path('app_client_list') }}" class="reload"> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>
                        {% for client in clients %}
                            <tr>
                                <td> {{ client.name }} </td>
                                <td> {{ client.address }} </td>
                                <td> {% if client.isInactive %}
                                        <a class="disabled btn purple"> No
                                            <i class="fa fa-ok"></i>
                                        </a>
                                    {% else %}
                                        <a class="disabled btn blue"> Yes
                                            <i class="fa fa-ok"></i>
                                        </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="{{ path('app_client_edit', {'id': client.id}) }}" class="btn yellow">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    <a action="{{ path('api_client_delete', { 'id': client.id }) }}" redirect="{{ path('app_client_list') }}" class="delete btn red">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <thead>
                        <tr>
                            <th> Name </th>
                            <th> Address </th>
                            <th> Active </th>
                            <th> Edit </th>
                            <th> Delete </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
{% block extrascripts %}
    <script src="{{ asset('scripts/controller/client/clientDelete.js') }}"></script>
{% endblock extrascripts %}

